.sketchDiv {

    box-shadow: 0 0 0 1px black
}
.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    grid-gap: 1px;
}